/Spider.Web.Code/bin
/Spider.Web.Code/obj
/Spider.Web/obj
/Spider.Web/bin
/Spider.Uitl/bin
/Spider.Uitl/obj
/Spider.EntityFrameworkCore/bin
/Spider.EntityFrameworkCore/obj
/Spider.Code/bin
/Spider.Code/obj
/Spider.Application/bin
/Spider.Application/obj
/XiaoHu.Application/bin
/XiaoHu.Application/obj
/XiaoHu.Code/bin
/XiaoHu.Code/obj
/XiaoHu.EntityFrameworkCore/bin
/XiaoHu.EntityFrameworkCore/obj
/XiaoHu.Uitl/obj
/XiaoHu.Uitl/bin
/XiaoHu.Web/bin
/XiaoHu.Web/obj
/XiaoHu.Web.Code/bin
/XiaoHu.Web.Code/obj
